<div class="form-group">
  <label for="name">Name</label>
  <input type="text"
         class="form-control"
         name="name"
         value="<%= kraving.name %>">
</div>

<div class="form-group">
  <label for="city">City</label>
  <input type="text"
         class="form-control"
         name="city"
         value="<%= kraving.city %>">
</div>

<div class="form-group">
  <label for="state">State</label>
  <input type="text"
         class="form-control"
         name="state"
         value="<%= kraving.state %>">
</div>

<div class="form-group">
  <label for="zip">Zip</label>
  <input type="text"
         class="form-control"
         name="zip"
         value="<%= kraving.zip %>">
</div>



