<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>


  <a href="/kravings/" ><img id="logo2" src="http://i.imgur.com/Zz3Uc8N.png?1"></a>

  <style>
    .footer{
    position: relative;
    }
  </style>

</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <h3>Edit Kraving?</h3>
    <form class="kraving-form" action="/kravings/<%= kraving._id %>?_method=PUT" method="post">
      <% include _form %>
      <a href="/kravings/" class="btn btn-primary">Back</a>
      <button type="submit" class="btn btn-success">Save</button>
    </form>
  </main>

  <div class="footer">
    <footer class="copyright">
      <% include ../partials/footer %>
    </footer>
  </div>
</body>
</html>
