<!DOCTYPE html>
<html lang="en">
<head>

  <% include ../partials/head %>
    <% include ../partials/header %>
    <a href="/kravings/" ><img id="logo2" src="http://i.imgur.com/Zz3Uc8N.png?1"></a>

<!--   <link rel='stylesheet' href='/stylesheets/custom.css'/>
 -->
  <script type="text/javascript" src="/js/jquery.js"></script>

</head>

<body class="container-fluid">
<div class="wrapper">
<div>
  <header>
  </header>
  </div>
<div>
</div>

  <main>
    <h3>My KRAVINGs</h3>
    <div class="jumbo2">
      <% kravings.forEach(function(kraving) { %>
        <h4>
            <a href="/kravings/<%= kraving._id %>">
              "<%= kraving.name %>"
            </a>
            <form class="index_buttons" method="GET" action="/kravings/<%= kraving._id %>/edit">
              <button type="submit" class="btn btn-xs btn-danger">Edit</button>
            </form>
            <form class="index_buttons" method="POST" action="/kravings/<%= kraving._id %>?_method=DELETE">
              <button type="submit" class="btn btn-xs btn-danger">Delete</button>
            </form>
        </h4>
      <% }) %>
    </div>
    <a href="/kravings/new" class="btn btn-primary">New</a><br />

  </main>
    <div class="footer">
      <footer class="copyright">
        <% include ../partials/footer %>
      </footer>
    </div>
  </div>
</body>
</html>
