<!DOCTYPE html>
<html lang="en">
<head>
    <a href="/kravings/" ><img id="logo" src="http://i.imgur.com/Zz3Uc8N.png?1"></a>

  <% include ../partials/head %>
  <% include ../partials/header %>
  <title>Place searches</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 20px;
      }
      .nav {
        width:1200px;
        height: 100px;

      }
      #map {
        width: 600px;
        height: 450px;
        float: right;
      }
      #places {
        width: 500px;
        height: 350px;
        float: left;
        overflow-y: scroll;
/*        overflow-y: auto;*/
      }
      #main {
      width: 1200px;
      height: 800px;
      position: relative;
      }
      #location {
        padding: 0;
      }
      #label1 {
        padding:0;
      }
      #label2, #label3 {
        margin: 0;
      }
    </style>
  <script type="text/javascript" src="/js/jquery.js"></script>

  <script type="text/javascript" src="/js/javascript.js"></script>

</head>

<body class="container-fluid">

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-Y3EQPS2pywoCVD_9WsFZwWJb8uDx4BE&libraries=places&callback=initMap" async defer></script>

  <main id = "main">

    <div class="wrapper">
    <div class="row">
    <div id = "location" class = "col-lg-5">
      <div>
      <p><b>Kraving: </b><span id="name"><%= kraving.name %></span></p>
      <p><span id="city"><%= kraving.city %></span> , <span id="state"><%= kraving.state %></span> <span id="zip"><%= kraving.zip %> </span></p>
      </div>

      <h4>Places:</h4>
      <div id="places" class="jumbo3"></div>

    </div>

    <div id="map" class = "col-lg-6"></div>
    </div>

    <div class="row-btn">
      <div class="col-md-8 col-md-offset-1">
        <a href="/kravings/" class="btn btn-primary">Back</a>
      </div>
    </div>
  </div>

 </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>


