<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
    <style>
     html, body {
        height: 100%;
        margin: 0;
        padding: 20px;
      }
      .nav {
        width:1200px;
        height: 100px;
      }
      h4 {
        width: 500px;
      }
      #map {
        width: 635px;
        height: 480px;
        float: right;
      }
      #places {
        width: 500px;
        height: 250px;
        float: left;
      }
       #info{
        width: 500px;
        height: 100px;
      }
      #form {
        width:500px;
        margin:0;
        float: left;
      }
      #main {
      width: 1200px;
      height: 800px;
      position: relative;
      }
      #location {
        p
    </style>

    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/script2.js"></script>

      <header>
    <% include ../partials/header %>
  </header>

</head>

<body class="container-fluid">

 <div class="wrapper">

  <main id = "main">


      <div class="row">
        <div id = "location" class = "col-lg-5">

        <div>
        <h3>Fav Kravs</h3>
      </div>

       <div id="places">
        <h4 id ="kraving">Kraving: <%=favorite.kravingName %></h4>
        <h4 id ="name">Name:</h4>
        <h4 id ="address">Address:</h4>
        <h4 id ="phone">Phone:</h4>
        <h4 id ="hours">Hours:</h4>
        <h4 id ="website">Website:</h4>
      </div>

          <a href="/favs" class="btn btn-primary">Back</a>
      <a href="/kravings" class="btn btn-primary">HOME</a>
    </div>

    <div id="map"></div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-Y3EQPS2pywoCVD_9WsFZwWJb8uDx4BE&libraries=places&callback=initMap" async defer>
    </script>
</div>

 </main>

  <div class="footer">
    <footer class="copyright">
      <% include ../partials/footer %>
    </footer>
  </div>

  </div>

  <script type="text/javascript">
    var favPlaceId = "<%=favorite.placeID%>"
  </script>

</body>
</html>


