<!DOCTYPE html>
<html lang="en">
<link rel='stylesheet' href='/stylesheets/modaltest2.css'/>
<style>
html, body, #map-canvas  {
  margin: 0;
  padding: 0;
  height: 100%;
}

#map-canvas {
  width:500px;
  height:480px;
}
</style>
<head>
  <% include ../partials/head %>

    <script type="text/javascript" src="/js/jquery.js"></script>

    <script type="text/javascript" src="/js/script2.js"></script>

</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div>
      <h3>My FAVs</h3>
      <% favorites.forEach(function(favorite) { %>
        <h4>
          <form method="POST" action="/favs/<%= favorite._id %>?_method=DELETE">
            <a href="/favs/<%= favorite._id %>">
              <%= favorite.name %>
            </a>
            <a> <%= favorite.kravingName %></a>

            <button type="submit" class="btn btn-xs btn-danger">Delete</button>
          </form>
        </h4>
      <% }) %>
    </div>

    <div><a href="/kravings" class="btn btn-primary">Back</a></div>

<h1 class="">Lazy Load Google Map</h1>
<a href="#myMapModal" class="btn" data-toggle="modal">Launch Map Modal</a>

<div class="modal fade" id="myMapModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                 <h4 class="modal-title">Modal title</h4>

            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div id="map-canvas" class=""></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

 </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>



</html>
