<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div>
      <h3>SHOW GLOBAL MAP</h3>
    </div>

    <a href="/kravings/" class="btn btn-primary">Back</a>
    <a href="/kravings/<%= kraving._id %>/info" class="btn btn-primary">Info</a>

 </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
