<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <title>Place searches</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        width: 600px;
        height: 500px;
        float: right;
      }
    </style>
  <script type="text/javascript" src="/js/jquery.js"></script>

  <script type="text/javascript" src="/js/javascript.js"></script>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>
    <p><b>Name: </b><span id="name"><%= kraving.name %></span></p>
    <p><b>City: </b><span id="city"><%= kraving.city %></span></p>
    <p><b>State: </b><span id="state"><%= kraving.state %></span></p>
    <p><b>Zip Code: </b><span id="zip"><%= kraving.zip %></span></p>

    <div id="places">Places:<br />
    </div>


    <div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-Y3EQPS2pywoCVD_9WsFZwWJb8uDx4BE&libraries=places&callback=initMap" async defer></script>

  <main>

    <a href="/kravings/" class="btn btn-primary">Back</a>

 </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>



