<!DOCTYPE html>
<html lang="en">
<link rel='stylesheet' href='/stylesheets/modaltest2.css'/>
<head>
  <% include ../partials/head %>

    <script type="text/javascript" src="/js/jquery.js"></script>

    <script type="text/javascript" src="/js/script2.js"></script>

</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div>
      <h3>My FAVs</h3>
      <% favorites.forEach(function(favorite) { %>
        <h4>
          <form method="POST" action="/favs/<%= favorite._id %>?_method=DELETE">
            <a href="/favs/<%= favorite._id %>">
              <%= favorite.name %>
            </a>
            <a> <%= favorite.kravingName %></a>

            <button type="submit" class="btn btn-xs btn-danger">Delete</button>
          </form>
        </h4>
      <% }) %>
    </div>

    <div><a href="/kravings" class="btn btn-primary">Back</a></div>

<div class="modal hide fade" id="myModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3></h3>
  </div>
  <div class="modal-body">
    <div id="mapCanvas" style="width: 500px; height: 400px"></div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>

<!--
<div id="popup" class="modal-box">
  <header>
    <a href="#" class="js-modal-close close">×</a>
    <h3><a href="http://www.jqueryscript.net/tags.php?/Modal/">Modal</a> Title</h3>

    <style>
   #map {
      width: 300px;
      height: 300px;
      background-color: #CCC;
      float: right;
    }
    </style>

  </header>
  <div class="modal-body">
    <p>Modal Body</p>
      <h4 id ="kraving">Kraving:</h4>
      <h4 id ="name">Name:</h4>
      <h4 id ="address">Address:</h4>
      <h4 id ="phone">Phone:</h4>
      <h4 id ="hours">Hours:</h4>
      <h4 id ="website">Website:</h4>
  </div>
  <div id="map"></div>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-Y3EQPS2pywoCVD_9WsFZwWJb8uDx4BE&libraries=places&callback=initMap" async defer>
    initMap();

  </script>

  <footer>
    <a href="#" class="js-modal-close">Close Button</a>
  </footer>
</div>
 -->

 </main>

 <a class="js-open-modal" href="#" data-modal-id="popup"> Click me </a>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>



</html>
