<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <% include ../partials/header %>
  <a href="/kravings/" ><img id="logo2" src="http://i.imgur.com/Zz3Uc8N.png?1"></a>

  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">

  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/script2.js"></script>

  <style>
    html, body {
      /*height: 100%;
        margin: 0;
        padding: 20px;*/
      }

      h4 {
        width: 500px;
      }

      #map {
        width: 635px;
        height: 480px;
        float: right;
      }

      #places {
        width: 500px;
        height: 270px;
        float: left;
      }

      #kraving, #name, #address, #phone, #hours, #website{
       font-size: 23px;
      }
      #infoname {
        font-size: 45px
      }

      #info{
        width: 500px;
        height: 80px;
      }

      #form {
        width:500px;
        margin:0;
        float: left;
      }
      #main {
      width: 1200px;
      height: 800px;
      position: relative;
      }
/*      #location {
        padding: 0;
      }*/
      #Fav {
/*        font: "News Cycle","Arial Narrow Bold",sans-serif;*/
/*
        font-weight: 700;
        line-height: 1.1;
        color: #000000;*/
        font-size: 45px
      }

      #row1{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: center;
        align-items: center;
      }
    </style>
</head>

<body class="container-fluid">
 <div class="wrapper">

  <!-- <main id = "main"> -->


      <div class="row" id="row1">
        <div id = "location" class = "col-lg-5">
      <div id = "info">
        <h1 id="Fav">Fav Kravs</h1>
      </div>


      <h4 id ="kraving">Kraving: <%=favorite.kravingName %></h4>

       <div id="places">
        <h4 id ="name">Name:</h4>
        <h4 id ="address">Address:</h4>
        <h4 id ="phone">Phone:</h4>
        <h4 id ="hours">Hours:</h4>
        <h4 id ="website">Website:</h4>
      </div>

          <a href="/favs" class="btn btn-primary">Back</a>
      <a href="/kravings" class="btn btn-primary">HOME</a>
    </div>

    <div id="map"></div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-Y3EQPS2pywoCVD_9WsFZwWJb8uDx4BE&libraries=places&callback=initMap" async defer>
    </script>
</div>

<!--  </main> -->


  <div class="footer">
    <footer class="copyright">
      <% include ../partials/footer %>
    </footer>
  </div>

  </div>

  <script type="text/javascript">
    var favPlaceId = "<%=favorite.placeID%>"
  </script>

</body>
</html>


