<!DOCTYPE html>
<html lang="en">
<link rel='stylesheet' href='/stylesheets/modaltest2.css'/>
<head>
  <% include ../partials/head %>

    <script type="text/javascript" src="/js/jquery.js"></script>

    <script type="text/javascript" src="/js/script2.js"></script>

</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div>
      <h3>My FAVs</h3>
      <% favorites.forEach(function(favorite) { %>
        <h4>
          <form method="POST" action="/favs/<%= favorite._id %>?_method=DELETE">
            <a href="/favs/<%= favorite._id %>">
              <%= favorite.name %>
            </a>
            <a> <%= favorite.kravingName %></a>

            <button type="submit" class="btn btn-xs btn-danger">Delete</button>
          </form>
        </h4>
      <% }) %>
    </div>

    <div><a href="/kravings" class="btn btn-primary">Back</a></div>

<div id="popup" class="modal-box">
  <header>
    <a href="#" class="js-modal-close close">×</a>
    <h3><a href="http://www.jqueryscript.net/tags.php?/Modal/">Modal</a> Title</h3>
  </header>
  <div class="modal-body">
    <p>Modal Body</p>
  </div>
  <footer>
    <a href="#" class="js-modal-close">Close Button</a>
  </footer>
</div>


 </main>

 <a class="js-open-modal" href="#" data-modal-id="popup"> Click me </a>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>



</html>
