<link rel='stylesheet' href='/stylesheets/style.css' />

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
      </a>
    </div>

    <ul class="nav navbar-nav">

      <div class="dropdown">
  <button class="dropbtn">Menu</button>
  <div class="dropdown-content">
    <a href="/">Home</a>
    <a href="/kravings">KRAVs</a>
    <a href="/favs">FAVs</a>
  </div>
</div>
    </ul>
  </div>

</nav>
