<meta charset="UTF-8">
<title>KRAVE</title>

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/journal/bootstrap.min.css">
<link rel='stylesheet' href='/stylesheets/custom.css' />
