<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head %>
  <% include ./partials/header %>
    <a href="/kravings/" ><img id="logo2" src="http://i.imgur.com/Zz3Uc8N.png?1"></a>
    <link rel='stylesheet' href='/stylesheets/round-about.css' />
    <script type="text/javascript" src="/js/jquery.js"></script>
    <style>

      #row1{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: center;
        align-items: center;
      }

    </style>
</head>

<body class="container-fluid2">
  <div class="wrapper text-center">

<main class="content">
    <div class="row">
        <div class="avatars">
      <div class="haesol" class = "col-lg-5">
      <img class="avatar" src=http://imgur.com/o9xkYV9"></a>" alt="Haesol" />
      <p></br><a id = "linked" href="https://www.linkedin.com/in/haesollee">Hire Haesol</a></p>
  </br>
  <!--
  </br>I am currently enrolled in General Assembly’s Web Development Immersive program and seeking employment starting in Summer 2016.
  </br>
  My focus and core competencies are </br>
  • Proficient in HTML, CSS3, Javascript </br>
  • Front End projects using Javascript/CSS frameworks</br>
  • Back end projects using ruby on rails</br>
  • Long/short term project management and strategic planning skills,</br>
  • Efficient, passionate, objective-driven, and open-minded leader, combined with strong problem solving and critical thinking skills.
      </p> -->

      <div>
        <h3 id= "about">About Us</h3>
      </div>
      <br/>

      <div id="row1">

            <div class="haesol" class = "col-lg-5">
              <img class="avatar" src="http://placehold.it/250x250" alt="Haesol" />
              <p><br><a id = "linked" href="https://www.linkedin.com/in/haesollee">Hire Haesol</a></p>
              <br/>
              <br/>
            </div>

            <div class="kenan" class = "col-lg-6">
              <img class="avatar" src="http://placehold.it/250x250" alt="Kenan" />
              <p></br><a id = "linked" href="https://www.linkedin.com/in/kenanfranklin">Hire Kenan</a></p>
              <br/>
              <br/>
            </div>

            <div class="david" class = "col-lg-7">
              <img class="avatar" src="http://placehold.it/250x250" alt="David" />
              <p></br><a id = "linked" href="https://www.linkedin.com/in/daquigley4">Hire David</a></p>
              <br/>
              <br/>
            </div>

            <div class="chris" class = "col-lg-8">
              <img class="avatar" src="http://placehold.it/250x250" alt="Chris" />
              <p> </br> <a id = "linked" href="https://www.linkedin.com/in/christopher-hayes-6b76b9b2">Hire Chris</a></p>
              <br/>
              <br/>
            </div>

          </div>

    <div class="footer">
      <footer class="copyright">
        <% include ./partials/footer %>
      </footer>
    </div>

  </div>
</body>


</html>
