<!DOCTYPE html>
<html lang="en">


<head>
  <% include ./partials/head %>
    <% include ./partials/header %>
    <a href="/kravings/" ><img id="logo2" src="http://i.imgur.com/Zz3Uc8N.png?1"></a>
    <link rel='stylesheet' href='/stylesheets/round-about.css' />
  <script type="text/javascript" src="/js/jquery.js"></script>
<style>
      .content {
        /*float: left;*/
            margin-left: 500px;

      }
      #about {
        margin-left: 45px;
      }

      #linked {
        margin-left: 40px;
      }

    </style>

</head>

<body class="container-fluid2">
<div class="wrapper">

<main class="content">
    <div>
    <h3 id= "about">About Us</h3>
    </div>
    </br>
<div class="row">
    <div class="avatars">
      <div class="haesol" class = "col-lg-5">
      <img class="avatar" src=http://imgur.com/o9xkYV9"></a>" alt="Haesol" />
      <p></br><a id = "linked" href="https://www.linkedin.com/in/haesollee">Hire Haesol</a></p>
  <br />
  <!--
  </br>I am currently enrolled in General Assembly’s Web Development Immersive program and seeking employment starting in Summer 2016.
  </br>
  My focus and core competencies are </br>
  • Proficient in HTML, CSS3, Javascript </br>
  • Front End projects using Javascript/CSS frameworks</br>
  • Back end projects using ruby on rails</br>
  • Long/short term project management and strategic planning skills,</br>
  • Efficient, passionate, objective-driven, and open-minded leader, combined with strong problem solving and critical thinking skills.
      </p> -->
      </div>
    <br />
      <div class="kenan" class = "col-lg-6">
      <img class="avatar" src="http://i.imgur.com/WSc6wKi.jpg?1" alt="Kenan" />
     <p></br><a id = "linked" href="https://www.linkedin.com/in/kenanfranklin">Hire Kenan</a></p>
  <br />
    <!--  </br>Reasons I'd be an amazing addition to your team:
  </br>6. Logic is everything to me. If I have a problem before me I'll do my best to work it out.
  </br>5. I'm resourceful and I'm not afraid to "teach" myself how to do something.</br> I'm driven, and I have a lot of big ideas. So I figure, where there is a will, there is a way.
  </br>4. I walk up to people and begin conversation, some times it's unwarranted.
  </br>3. I’m not afraid of hard work. Life is a complex puzzle I'm working on solving.
  </br>2. I randomly sing songs... some real... some made up.
  </br>1. I'm creative and I enjoy the outlet I get from making my ideas a reality.
  </p> -->
      </div>
     </br>
      <div class="david" class = "col-lg-7">
      <img class="avatar" src="http://imgur.com/Gaju2XW.jpg?1" alt="David" />
       <p></br><a id = "linked" href="https://www.linkedin.com/in/daquigley4">Hire David</a>
   </p>
   </div>
   <div class="chris" class = "col-lg-8">
      <img class="avatar" src="http://imgur.com/tw2RaPz.jpg?1" alt="Chris" />
     <p> </br> <a id = "linked" href="https://www.linkedin.com/in/christopher-hayes-6b76b9b2">Hire Chris</a></p>
  <br />
  </div>
  </div>

  </div>

    </main>


    <div class="footer">
      <footer class="copyright">
        <% include ./partials/footer %>
      </footer>
    </div>
  </div>
</body>
</html>
