<!DOCTYPE html>
<html lang="en">
<link rel='stylesheet' href='/stylesheets/round-about.css' />

<head>

  <% include ./partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ./partials/header %>
  </header>

  <main>
    <div>
      <h3>About:</h3>
    </div>
<img class="avatar" src="http://autokadabra.ru/system/uploads/users/1/1938/small.png?1318258804" alt="avatar" />
<img class="avatar" src="http://autokadabra.ru/system/uploads/users/18/18340/small.png?1318432918" alt="avatar" />
<img class="avatar" src="http://autokadabra.ru/system/uploads/users/20/20303/small.png?1319912650" alt="avatar" />
<img class="avatar" src="http://autokadabra.ru/system/uploads/users/19/19506/small.png?1318360757" alt="avatar" />
    <a href="/kravings/" class="btn btn-primary">Home</a>
  </main>

  <footer>
    <% include ./partials/footer %>
  </footer>
</body>
</html>
