<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ./partials/header %>
  </header>

  <main>
    <div>
      <h3>About:</h3>
    </div>
    <a href="/kravings/" class="btn btn-primary">Home</a>
  </main>

  <footer>
    <% include ./partials/footer %>
  </footer>
</body>
</html>
