<!DOCTYPE html>
<html>
<link rel='stylesheet' href='/stylesheets/style.css'/>

  <head>
    <title><%= title %></title>

  </head>
  <body>

<nav class="navbar navbar-default">

    <!-- Brand and toggle get grouped for better mobile display -->
    <!-- <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <a class="navbar-brand" href="/">Krave.</a>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div> -->

    <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="sidebar-wrapper">
      <btn class="sidebar">Menu</btn>
  <div class="sidebar-wrapper">
    <a href="/">Home</a>
    <a href="/kravings">KRAVs</a>
    <a href="/favs">FAVs</a>
    <a href="/about">About</a>
  </div>
</ul>
</nav>
<!-- <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
      </a>
    </div>

    <ul class="sidebar-wrapper">
      <div class="sidebar">
  <button class="sidebar">Menu</button>
  <div class="sidebar-wrapper">
    <a href="/">Home</a>
    <a href="/kravings">KRAVs</a>
    <a href="/favs">FAVs</a>
    <a href="/about">About</a>
  </div>
</div>
    </ul>
  </div> -->


<div class="jumbotron">
    <!-- <h1><%= title %></h1> -->
     <h2>Welcome to: </h2>
<!-- <div class="logo" id="openlogo"> -->
<img id="logo" src="http://i.imgur.com/Zz3Uc8N.png?1">
 <!-- </div> -->
    <h2>What are you Kraving?</h2>
     <!-- <h2>What are you Kraving?</h2> -->
</div>
<form method="post" action="/login">
   <div class="form-group">
      <label for="email">User Name:</label>
      <input class="form-control" type="text" name="email" id="email">
  </div>

            <div class="form-group">
              <label for="email">Password</label>
              <input class="form-control" type="password" name="password" id="password">
            </div>


  <button type="submit">Log In</button>
  </form>

  <a href="/signup">Create Account</a>


  </body>
  </div>
</html>


