<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/journal/bootstrap.min.css">
   <link rel='stylesheet' href='/stylesheets/custom.css'/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

<div class="jumbo">
    <!-- <h1><%= title %></h1> -->
     <h2>Welcome to: </h2>
<!-- <div class="logo" id="openlogo"> -->
<img id="logo" src="http://i.imgur.com/Zz3Uc8N.png?1">
 <!-- </div> -->
    <h2>What are you Kraving?</h2>
     <!-- <h2>What are you Kraving?</h2> -->
</div>
<form method="post" action="/login">
   <div class="form-group">
      <label for="email">User Name:</label>
      <input class="form-control" type="text" name="email" id="email">
  </div>

            <div class="form-group">
              <label for="email">Password</label>
              <input class="form-control" type="password" name="password" id="password">
            </div>


  <button type="submit">Log In</button>
  </form>

  <a href="/signup">Create Account</a>


  </body>
  </div>
</html>


