<!DOCTYPE html>
<html>
<link rel='stylesheet' href='/stylesheets/style.css' />

  <head>
    <title><%= title %></title>

  </head>
  <body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
      </a>
    </div>

    <ul class="nav navbar-nav">
      <div class="dropdown">
  <button class="dropbtn">Menu</button>
  <div class="dropdown-content">
    <a href="/">Home</a>
    <a href="/kravings">KRAVs</a>
    <a href="/favs">FAVs</a>
  </div>
</div>
    </ul>
  </div>


<div class="jumbotron">
    <!-- <h1><%= title %></h1> -->
     <h2>Welcome to: </h2>
<!-- <div class="logo" id="openlogo"> -->
<img id="logo" src="http://i.imgur.com/Zz3Uc8N.png?1">
 <!-- </div> -->
    <h2>What are you Kraving?</h2>
     <!-- <h2>What are you Kraving?</h2> -->
</div>
</nav>
<form>
 <div>
  User Name:<br>
 </div>
  <input type="text" username="username"><br>
  <div>
  Password:<br>
  </div>
  <input type="text" name="password">
  <button type="submit">Log In</button>
  <a href="http://www.w3schools.com/html/">Create Account</a>
</form>
  </body>
  </div>
</html>


