<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/custom.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
<form>
 <div>
  User Name:<br>
 </div>
  <input type="text" username="username"><br>
  <div>
  Password:<br>
  </div>
  <input type="text" name="password">
  <button type="submit">Log In</button>
  <a href="http://www.w3schools.com/html/">Create Account</a>
</form>
  </body>
</html>


