<!doctype html>
<html lang="en">
  <head>
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/flatly/bootstrap.min.css" crossorigin="anonymous">
    <% include ./partials/head %>
  </head>

  <body class="container-fluid">
    <div class="wrapper">
      <header>
        <% include partials/header %>
      </header>

      <main>
        <div>
          <h2>Login</h2>
            <form method="post" action="/login">
              <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" type="text" name="email" id="email">
              </div>

              <div class="form-group">
                <label for="email">Password</label>
                <input class="form-control" type="password" name="password" id="password">
              </div>

              <input class="btn btn-default" type="submit">
            </form>
        </div>
      </main>

      <div class="footer">
        <footer class="copyright">
          <% include ./partials/footer %>
        </footer>
      </div>
    </div>
  </body>
</html>
