@import url(https://fonts.googleapis.com/css?family=Dosis:400,500,600,300|Neucha);

html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  color: red;
  font-size: 1.7em;
}

h3, h4, h5 {
  font-family: 'Neucha', cursive;
}
h5 {
  text-align: center;
  font-size: 1.5em;
}

h1 {
  font-family: 'Neucha', cursive;
  font-size: 3.5em;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

h2 {
  font-family: 'Neucha', cursive;
  font-size: 1.8em;
  font-weight: 600;
  text-align: center;
}

.title hr {
  max-width: 125px;
  margin: 0 auto;
}

a {
  color: #00B7FF;
}
section {
  max-height: 650px;
  padding-bottom: 100px;
}
.container {
  padding-bottom: 30px;
  padding-top: 30px;
  height: 100%;
}
button {
  position: relative;
  z-index: 1;
  background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
}

.content {
  overflow:auto;
  font-size: 14px
  font-family: "Dosis", sans-serif;
  min-height: 100%;
  height: auto !important;
  position: relative;
  margin: 0 auto 0;
  background-color: rgba(0, 0, 0, 0.5);
}
/*****************************/
/*** MAIN PAGE TOP SECTION ***/
@keyframes image {
  0% { -webkit-transform: rotate(50deg); opacity: 0;}
  100% { -webkit-transform: rotate(360deg); opacity: 0.9; }
}

.float-img img {
  width: 110px;
  height: 110px;
  position: absolute;
  /*margin-left: 3.5%;*/
  margin-left: 45.8%;
  margin-top: 6px;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  animation-name: image;
  animation-duration: 2s;
  animation-transition: ease-out;

}
.box-shadow--4dp {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
}
/* Left section animation code */

/* Element with Animation  */
.left-section {
  background-color: rgba(255, 255, 255, 0.78);
  border-radius: 5px;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: -5%;
  min-height: 300px;
  padding: 10px;
  color: #4d4d4d;
  animation-name: left;
  animation-duration: 2s;
}
.left-section h2,
.right-section h2 {
  color: #4d4d4d;
}
.left-section p, .right-section p {
  padding: 25px;
  font-size: 1.4em;
  text-align: center;
}
/* Right section animation code */
@keyframes right {
    from {margin-left: 150px; margin-right: -150px; opacity: 0;}
    to {margin-left: 5%; margin-right: -5%; opacity: 1;}
}
/* Element with Animation  */
.right-section {
  background-color: rgba(255, 255, 255, 0.78);
  border-radius: 5px;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: -5%;
  min-height: 300px;
  padding: 10px;
  color: #4d4d4d;
  animation-name: right;
  animation-duration: 2s;
}




.btn-search {
  width: 400px;
}

.col-lg-12 {
  max-width: 95%;
  margin: 0 auto;
}

/
/**********************/
/******* NAVBAR *******/
  .nav {
  padding: 10px 100px;
  background-color: red;
  border: 0;
  border-color: transparent;
  border-radius: 0;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
  color: white;
  font-size: 1.3em;
  font-weight: 500;
  font-family: "Dosis", cursive;
  font color: red;
}

.navbar-brand:hover{
  color: #00B7FF !important;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #00B7FF;
}

/**********************/
/******** FORM ********/
.wrapper {
  padding: 50px;
  background-color: white;
  color: #999999;
  margin-bottom: 0;
}
.authform {
  padding: 10px 40px;
  margin: auto auto;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 5px;
  max-width: 85%;
  min-height: auto;
  margin-bottom: 40px;
  color:black;
  font-family: 'Neucha', cursive;
}
.pull-right {
  margin-right: 2%;
}
.login {
  min-height: 100%;
  padding-top: 60px;
}
.login-form{
  padding: 40px;
  min-height: 230px;
  background-color: rgba(255, 255, 255, 0.7 );
  border-radius: 5px;
  color: black;
}

.bg-danger, .bg-success, .bg-info {
  padding: 20px;
  border-radius: 5px;
}

.form-control {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  font-size: 1.1em;
}
label {
  font-weight: 500;
}
.capitalize {
  text-transform: capitalize;
}

input {
  font-family: "Dosis", sans-serif;
}
.center-st{
  padding-left: 40px;
}
.center-list {
  width: auto;
  padding: 20px;
}

#sign_up h4 {
  padding-left: 20px;
}
.summary {
  width: 340px;
}

/*********************/
/****** PROFILE ******/
.profile {
  padding: 40px;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.8);
}
#map {
  color: #000;
  margin-left: 50px;
}

#location {
  color: #001100;
  padding-left: 120px;
}
#location h2 {
  text-align: left;
}
.row-btn {
  padding-top: 40px;
  padding-bottom: 40px;
}
.address {
  padding-left: 20px;
}
.phone {
  padding-left: 8px;
}

/*********************/
/****** FOOTER *******/
.push {
  content: " ";
  height: 80px;
}
.footer-area {
  padding-top: 40px;
  margin-bottom: 0;
  width: 100%;
  background-color: #555555;
  margin-top: -80px;
  height: 80px;
  position: absolute;
  left: 0;
  bottom: 0;
  clear: both;
}
.text-muted{
  color: #999090;
}

img {
  opacity: .9;
  margin-bottom: 30px;
  margin-top: 15px;
  float: left;
}

/********************/
/**** ABOUT PAGE ****/

.Pix {
  border-radius: 40px;
  position: relative;
}

h6{
  font-size: 1.3em;
  font-family: "Dosis", sans-serif;
}

.contact a {
  color: white;
}

.boxes1{
  position: left;
  float: center;
}

.boxes2{
  position: left;
  float: left;
}

h1 {
  font-size: 70px;
  }

p {
  text-align: center;
  font-size: 30px;
}
input[type="text"] {
             display: block;
             margin : 0 auto;
        }

div {
  text-align: center;
}

